<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile responsive Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="/static/css/style8.css" type="text/css" rel="stylesheet">
</head>
<body background="/static/Image/desktop.jpg">
<div class="container">
    <div class="row">
         <div class="col-md-7">
            <div class="admin-image">
           <img src="/static/Image/Admin.jpg" width="80%">
              </div>
        </div>
        <div class="col-md-5">
         <div class="Admin login">
             <div class="text">
             <button type="button"><i class="fa-sharp fa-solid fa-arrow-left" style="color: #b80de7;"></i></button>
             <div class="image">
               <img src="/static/Image/admin.png" width="50px;" height="50px;">
             </div>
             <h4>Welcome Back!</h4>
             <p>Please Sign in to continue</p>
             <form>
                 <div class="Input1">
             <label>Email</label>
             <input type="email"  placeholder="example @gmail.com">
                       <i class="fa-solid fa-envelope"></i>
                     </div>
                 <div class="Input2">
             <label>Password</label>
            <i class="fa-sharp fa-solid fa-lock"></i>
             <input type="password"  placeholder="Password">
                     </div>
                  <div class="checkbox">
         <input type="checkbox">&nbsp;Remember me
                  </div>
                 <div class="forget">
           <p>Forget Password?</p>
          </div>
                  <center>
            <input type="submit" value="Login" class="btn btn-primary"><br>
                      <h6>Not a member?<font color="blueviolet;"><u>Register Now</u></font></h6>
                      <hr>
            </center>
             </form>
             </div>
         </div>
        </div>
    </div>
</div>
</body>
</html>

