<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/css/style4.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="logo">
    <img src= "/static/Image/logo.jpg" width="50" height="40">
    <span class="logo-header"><b>E-SOBATI</b></span>
    <p><b>रुग्ण: सेवा: प्रथम कर्तव्य</b></p>
 </div>
<div class="item">
    <li>
   <i class="fa-brands fa-microsoft"></i>
    <span class="sider">Dashboard</span>
   </li>
<li>
    <i class="fa-solid fa-location-dot"></i>
    <span class="sider">City</span>
</li>
<li>
    <i class="fa-sharp fa-solid fa-hospital"></i>
    <span class="sider">Hospital</span>
</li>
<li>
    <i class="fa-solid fa-square-plus"></i>
    <span class="sider">Pharmacy</span>
</li>
<li>
    <i class="fa-solid fa-truck-medical"></i>
    <span class="sider">Ambulance</span>
</li>
<li>
    <i class="fa-solid fa-snowflake"></i>
    <span class="sider">Government Schemes</span>
</li>
<li>
    <i class="fa-sharp fa-solid fa-earth-americas"></i>
    <span class="sider">Government Website</span>
</li>
<li>
    <i class="fa-solid fa-briefcase"></i>
    <span class="sider">Job Post</span>
</li>
<li>
    <i class="fa-solid fa-comment-dots"></i>
    <span class="sider">Notice</span>
</li>
</div>
    <div class="container">
        <div class="header">
    <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;
            <span class="nav"><b>Welcome Admin</b></span>
            </div>
    </div>
<div class="col-div-3">
<div class="box">
    <h6>TOTAL LOGIN USERS</h6>
    <p>19</p>
    <div class="icon">
    <i class="fa-solid fa-earth-americas fa-rotate-90 fa-2xl"></i>
    </div>
</div>
</div>
<div class="col-div-4">
<div class="box-1">
    <h6>TOTAL NUMBER OF PATIENTS</h6>
    <p>6</p>
    <div class="icon-1">
   <i class="fa-solid fa-user" style="color: #e8eaed;"></i>
    </div>
</div>
</div>
<div class="col-div-5">
<div class="box-2">
    <h6>TOTAL JOB ENQUIRIES</h6>
    <P>5</P>
    <div class="icon-2">
   <i class="fa-solid fa-briefcase fa-lg" style="color: #cdd0d5;"></i>
    </div>
</div>
</div>
<div class="col-div-6">
<div class="box-3">
    <h6>NUMBER OF OPERATIONAL ENQUIRIES</h6>
    <p>13</p>
    <div class="icon-3">
    <i class="fa-regular fa-circle-question"></i>
    </div>
</div>
</div>
<br>
<div class="col-div-7">
<div class="box-4">
    <h6>NUMBER OF HOSPITALS & CLINIC</h6>
    <p>5</p>
    <div class="icon-4">
<i class="fa-sharp fa-solid fa-hospital" style="color: #dcdde0;"></i>
    </div>
</div>
</div>
<div class="col-div-8">
<div class="box-5">
    <h6>TOTAL NUMBER OF AMBULANCE</h6>
    <p>4</p>
    <div class="icon-5">
  <i class="fa-solid fa-truck-medical fa-xl" style="color: #d9d9d9;"></i>
    </div>
</div>
</div>
<div class="col-div-9">
<div class="box-6">
    <h6>NUMBER OF PHARMACY</h6>
    <p>3</p>
    <div class="icon-6">
       <i class="fa-solid fa-suitcase-medical" style="color: #f0f0f0;"></i>
    </div>
</div>
</div>
<div class="col-div-10">
<div class="box-7">
    <h6>NUMBER OF JOBS</h6>
    <p>5</p>
    <div class="icon-7">
<i class="fa-solid fa-suitcase" style="color: #fafafa;"></i>
    </div>
</div>
</div>
<div class="text">
<div class="contant">
    <div class="col">
<button type="submit" class="btn btn-info">
    <span> &nbsp;&nbsp;&nbsp; <i class="fa-sharp fa-solid fa-user"></i></span>&nbsp;Login Users&nbsp;&nbsp;&nbsp;&nbsp;
</button>
    <button type="submit" class="btn btn-info">
    <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-hospital"></i></span>&nbsp;Hospital&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</button>
    </button>
    <button type="submit" class="btn btn-info">
    <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-stethoscope"></i></span>&nbsp;Clinic&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</button>
 </button>
    <button type="submit" class="btn btn-info">
        <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-suitcase-medical" style="color: #f0f0f0;"></i></span>&nbsp;Pharmacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button type="submit" class="btn btn-info">
        <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-scissors"></i></span>&nbsp;operational Enquiry&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
     <button type="submit" class="btn btn-info">
        <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-suitcase" style="color: #fafafa;"></i></span>&nbsp;Job Enquiry&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    </div>
</div><br><br>
  <div class="col-lg-4">
<input type="date" class="form-control">
  </div>
         <div class="col-lg-4">
<input type="date" class="form-control">
  </div>
    <button type="submit" class="btn btn-primary">
        <span>&nbsp;&nbsp; &nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass"></i></span>&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
</div>
</div>
</div>
</body>
</html>