<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link href="/static/css/style.css" type="text/css" rel="stylesheet">
     </head>
<body>
<div class="contant">
    <h1><b>Feedback From</b></h1>
    <form>
       <p>Name:</p>
        <center><input type="text" class="box" placeholder="Enter Name"></center>
        <p>Email:</p>
   <center><input type="email" class="box" placeholder="Enter email"></center>
        <p>Subject:</p>
    <center><input type="text" class="box" placeholder="Enter subject"></center>
        <p>Massage:</p>
        <center><textarea class="textarea-box" placeholder="Enter massage"></textarea></center>
       <center>
        <input type="submit" value="Submit ->">
       </center>


</div>

</div>
</body>
</html>