<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/css/style1.css" type="text/css" rel="stylesheet">
</head>
<body background="static/Image/images (2).jpg">
<div class="contant">
    <div class="header">
        <h1><b>Login</b></h1>
        <hr>
        </div>
        <div class="box">
          <p>Email ID:</p><input type="email"  placeholder="Email ID" name="txtEmailID" class="form-control">
          <p>Password:</p><input type="password" placeholder="Password" name="txtEmail" class="form-control">
          <div class="checkbox">
           <input type="checkbox" > Remember me &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <font color="green">Forget Password?</font>
          </div>
            <br>
            <center>
            <input type="submit" value="Login" class="btn btn-primary">
            </center>
    </div>
</div>
</body>
</html>