<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Payment Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="/static/css/style5.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="payment-form-left">
                  <div class="col-div-header">
                 <span class="pre">Please select your card:</span>
                  <span class="header"> <input type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;Visa"></span>
                      <i class="fa-solid fa-caret-down"></i>
                    </div>
<div class="heading">
    <h1>VISA</h1>
</div>
    <div class="form">
         <div class="col-lg-9">
        <label> Card Number:</label>
        <input type="text" class="form-control" >
        </div>
        <div class="col-lg-9">
        <label> Card Holder:</label>
        <input type="text" class="form-control" >
        </div>
        <div class="col-lg-4">
        <label> Expires:</label>
      <input type="text" class="form-control" >
        </div>
        <div class="col-lg-4">
        <label> CVC:</label>
        <input type="text" class="form-control" >
        </div>
        <div class="button">
         <center>
        <input type="submit" class="btn btn-success" value="Checkout">
    </center>
</div>
    </div>
            </div>
        </div>
            <div class="col-md-6 ">
                <div class="order-summary">
                    <h4>Order Summary</h4><hr>
                    <div class="Img-1">
                   <img src="/static/Image/Nike.jpg" width="75px;" height="70px">
                   <div class="Name-1"><h5>Nike</h5>
                    <h6>Free Run 3.0 Women<br>Color:Light,Pink Size:10.5</h6>
                <p>$99.95</p>
                <hr>
            </div>
        </div>

     <div class="col-md-6">
            <div class="Img-2">
                <img src="/static/Image/Backpack.jpg" width="75px;" height="70px;">
                    <div class="Name-2">
                    <h5>Fjallraven</h5>
                    <h6>Vintage Backpack  <br> Color:Olive,Size:20L</h6>
                     <p>$235.95</p>
                <hr>
                      </div>
            </div>
            </div>
    <div class="col-md-6 5">
            <div class="Img-3">
                <img src="/static/Image/lanchbox.jpg" width="75px;" height="70px">
                        <div class="Name-3">
                    <h5>Monobento</h5>
                    <h6>Double Lunchbox<br>Color:Pink,Size:Medium</h6>
                <p>$25.95</p>
                <hr>
                        </div>
            </div>
        </div>
    <div class="total">
         <p>VAT 19%<br>Delivery</p>
        <h5><b>TOTAL</b></h5>
    </div>
    <div class="total-1">
        <p>$68.75<br>&nbsp;&nbsp;$4.95</p>
        <h5><b>$435.55&nbsp;&nbsp;</b></h5>
    </div>
                </div>
            </div>
            </div>
        </div>

</body>
</html>
