<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/css/style6.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="boarder">
<div class="logo">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/static/Image/logo2png.png" width="60px" height="50px">
 </div>
<div class="text">
     <h6><b>GXP</b><br>Follow</h6>
</div>
<div class="header">
       <ul>
           <li><i class="fa-solid fa-heart"></i></li>
           <li><i class="fa-solid fa-bookmark"></i></li>
       </ul>
</div>
    </div>
<hr>
<div class="content">
    <div class="item">
        <div class="portfolio">
            <div class="menu-bar">
                <ul>
                <li class="heading"><b> Gilang Permana &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  </b></li>
                <li>Home</li>
                <li>About</li>
                <li>Portfolio</li>
                    <button  class="button">
                        &nbsp;&nbsp;<i class="fa-solid fa-phone"></i></span>&nbsp;&nbsp;Contact  &nbsp;&nbsp;
                    </button>
               </ul>
            </div>
        </div>
    </div>
</div>
 <div class="hard">
                    <h4>Gilang Permana</h4>
                    <h5>&nbsp;He is<br>&nbsp;Just A Kid From Jawa Barat</h5>
                    <p>&nbsp;Introduce,his names is Gilang permana<br>
                    &nbsp;Currently he is studying at University in Jogja<br>
                    &nbsp;in informatika.He was born on September 2003.<br>
                &nbsp;He is a good boy,not naughty,<font color="#ff4500;">and doesn't realy
                 <br>   like crowds.</font>
            </div>
</button>
<button class="button1"><i class="fa-brands fa-instagram"></i>gilang.p_18&nbsp;</button>
    <button class="button2"><i class="fa-brands fa-facebook"></i>&nbsp;Gilang Permana </button>
<div class="shape">
    <img src="/static/Image/shape.png" width="245px" height="185px">
</div>
<div class="img-2">
      <img src="/static/Image/log3.png" width="125px" height="145px">
</div>
</body>
</html>