<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/css/style3.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="header">
    <center><h1><b>Popular This Week</b></h1></center>
</div>
<section>
  <div class="col-lg-2">
      <div class="box">
       <img src="/static/Image/P1.jpg" width="120" height="140">
          <h5>-6%</h5>
        <h6>Fastenal</h6>
      </div>
     <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
      <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
      <s><font color="#808080">₹32.00</font></s>&nbsp;<font color="black">₹30.00</font>
  </div>
<div class="col-lg-2">
    <div class="box1">
           <img src="/static/Image/p2.jpg" width="120" height="170">
         <h5>-10%</h5><br>
     <h6>Electrical</h6>
        <s><font color="#808080">₹199.00</font></s>&nbsp;<font color="black">₹180.00</font>
    </div>
</div>
<div class="col-lg-2">
    <div class="box2">
       <img src="/static/Image/p4.jpg" width="120" height="140">
    <h6>Safety</h6>
    </div>
     <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
      <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
       <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
    <font color="black">₹100.00</font>
</div>
<div class="col-lg-2">
    <div class="box3">
            <img src="/static/Image/p5.jpeg" width="180" height="120">
    <h6>Lubricants,Coolants,<br>
     and Fluids</h6>
        <font color="black">₹40.00</font>
    </div>
</div>
<div class="col-lg-2">
    <div class="box4">
            <img src="/static/Image/p3.jpg" width="120" height="130">
        <h5> Sold Out </h5>
    <h6>Mortise hinges</h6>
        <s><font color="#808080">₹45.00</font></s>&nbsp;<font color="black">₹42.00</font>
    </div>
</div>
</section>
</body>
</html>